.myfont{font-family: 'myfont';}
body{
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffff00;  /*Sets the text hover color on navbar*/
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #B00;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #e7e7e7;
    color: #ffff00;
}
.navbar-default {
    background-color: #B00;
    border-color: #B00;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 19px/*Change active text color here*/
}



.logo 
{
/*background-image:url("../img/logo.png");*/
    margin-left: 0;!important;
}
.logo img
{
    height: 33px;
    margin-top: -6px;
}
.navbar-nav{padding-top: 0}
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}


.stylish-input-group{
    margin-top: 9px;
}
.stylish-input-group .input-group-addon{
    background: #FFFFFF !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
    width: 500px;
    background: white;
    margin-left: 50px;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
.panel-default{
    background-color: #dddddd;
}
.panel-default .panel-heading {
    border-color: #B00;
    background-color:#B00;
    color:#FFFFFF;
    padding: 3px 10px 0;
    margin-top: -15px;
}
.col-xs-3 {
    width: 100%;
}

.header-text{
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 25px;
    border-radius: 4px;
    background-color: #BB0000;

}
.header1-text{
    color: #B00;
    padding: 6px 10px;
    font-size: 25px;
    font-weight: bold;
}
.header2-text{
    color: #B00;
    padding: 6px 10px;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 15px;
}
.header-success{
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 25px;
    border-radius: 4px;
    background-color: darkgreen;

}
.line{
     border-bottom: 2px solid #BB0000;
     padding: 0px;
     padding-bottom:6px ;
     margin-top: -23px; margin-bottom: 15px;
     font-size: 20px;
 }
.line2{
    border-bottom: 1px solid #ddd;
    padding: 0px;
    padding-bottom:6px ;
    margin-top: -23px; margin-bottom: 15px;
    font-size: 20px;
}
.color1{
    background-color:#B00;
}
.color2{
    background-color:#B00;
    color: #fff;
}
.color3{
     background-color:#B00;
     color: #fff;
     font-size: 19px;
 }
.color3:hover,.color3:active,.color3:focus
{
    background-color:#B00;
    color: yellow;
    font-size: 19px;
}
.item-border{
    border:1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.item-border1{
    border:1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    display: table;
    width: 100%;
    margin-top: 10px;
    padding-top: 25px;
    background-color: #f5f5f5;
}
.item-border2{
    border:1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding-top: 0px;
    background-color: #f5f5f5;
}
.item-border-map{
    border:1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    display: table;
    width: 877px;!important;
    margin-top: 10px;
    margin-left: 15px;
}

.item-border-garage{
    border:1px solid #ccc;
    margin-bottom: 20px;
    padding: 0px;
    position: relative;
    display: table;
    width: 100%;
    margin-top: 10px;
    padding-top: 25px;
    background-color: #f5f5f5;
}
.item-details{
    margin-top: 6px;
}
.product-name{font-size: 19px;font-weight: bold;line-height: 1px}
.img-au img{
    height: auto;
    width: 170px;
}
.detail-au{
    width:580px;
}
.name-au{
    font-size: 20px;
    margin: 0 15px;
}
.address-au{
    margin: 10px 15px;
}
.service{
list-style: none;
    margin: 0 15px;
    padding: 0;
}
.service li{
    margin-right:10px;
    color: #777777;
    font-size: 12px;
}
.booking{
    display: block;
    background-color:#BB0000;
    color: white;
    height: 133px;
    padding: 40px 20px;
    text-align: center;
    font-size: 22px;
}
.booking:hover{
    color:yellow;
    text-decoration: none;
}
.footer{
    width: 100%;
    height: 50px;
    color:black;
    /*background-color:#adadad;*/
    text-align: center;
    font-size: 18px;

}
.search{
    margin-top: 10px;
}
.searching{
    display: block;
    background-color:#BB0000;
    color: white;
    height: -1px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}
.searching:hover{
    color:yellow;
    text-decoration: none;
}
.car-brand  {
    list-style: none;
    padding:0 30px;

}
.car-brand li{
    text-align: center;
    font-size: 13px;
    color: #0f0f0f;
}
.car-brand img{
    width:60px;
    height: auto;
}
.car-category{
list-style: none;
    padding:0 10px;
}
.car-category img{
    width: 70px;
}
.car-category li{
    text-align: center;
    font-size: 13px;
    color: #0f0f0f;
}
.panel-title{
    border-color: #B00;
    background-color:#B00;
    color:#FFFFFF;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
}
.register-container {
    padding: 0;
}
.register-container1{
    padding: 0px 10px;
}
.navbar-brand{
    padding: 15px 0 !important;
}
.form-control{
    padding: 4px 0 !important;
    height: auto!important;
    font-size: 13px;
}
ul {
    list-style-type: none;
}
.register-suggestion{
    padding: 0;
}
.register-suggestion > li{
  margin-bottom: 10px;
}
.img-profile{
    height: 120px;
    width: auto;
}
.img-profile1{
    height: 100px;
    width: auto;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);

}

.table-user-information > tbody > tr:first-child {
    border-top: 0;

}


.table-user-information > tbody > tr > td {
    border-top: 0;
    padding: 7px 33px;
}
.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 17px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    overflow: auto;
}
.tabbar{
    color: #BB0000;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #fff;
    cursor: default;
    background-color: #FF6347;
    border: 1px solid #FF6347;
    border-bottom-color: transparent;
}
.btn-group-sm > .btn, .btn-sm {
    border-radius: 3px;
    font-size: 18px;
    line-height: 1;
    padding: 3px 12px;
}
.listservice
{
    padding-top: 5px;!important;
}
.header-detail{
    color: #B00;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0px;
}
.line1{
    border-bottom: 2px solid #BB0000;
    padding: 0px;
    padding-bottom:5px ;
    margin-top: 5px;
    margin-bottom: 10px;
}
.edit {
    color:#FFFFFF;
    font-size: 18px;
    padding-top: 3px;
}
.edit:hover {
    color: yellow;
    font-size: 18px;
    padding-top: 3px;

}
.button-save{
    color: #BB0000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 12px ;
    text-align: center;
    margin:0px auto;

}
.button-delete{
    color: #BB0000;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px ;
    text-align: center;
    margin:-2px auto;

}
.button-garage{
    color: #BB0000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 12px ;
    text-align: center;
    margin:10px auto;

}
.button-picture{
    color: #BB0000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 5px ;
    text-align: center;
    margin:15px auto;
    margin-left: 50px;
}
.reservation {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 17px;
    margin-left: 20px;
    margin-right: 20px;
overflow: auto;
}

.carousel {
    margin-top: 20px;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img {
    width: 100%;
    margin: 2px;
}
.item img {
    width: 100%;
}


.box-list-thumbnail
{
    text-align: center;
}
.nameinsurance-border
{
    font-family: "TH Niramit AS";
    font-size: 16px;
    text-underline-mode:1;
    border:1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    display: table;
    width: 100%;
    margin-top: 10px;
    padding-top: 25px;
    background-color: #f5f5f5;

}

.maplocation {
    margin-top: 50px;
}

.button-jong{
    display: block;
    background-color:#BB0000;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    margin-right: 5px;

}
.button-jong:hover{
    color:yellow;
    text-decoration: none;
}
.button-jong{
    display: block;
    background-color:#BB0000;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    margin-right: 5px;

}
.button-jong:hover{
    color:yellow;
    text-decoration: none;
}
.car-brand1  {
    list-style: none;
    padding:0 0px;
}
.car-brand1 li{
    text-align: center;
    font-size: 9px;
    color: #0f0f0f;
}
.car-brand1 img {
    width: 35px;
}
.left-logo{
    padding-left: 15px;
    padding-right: 45px;
}
.sweet-alert h2{
    font-family: 'myfont' !important;
    font-size: 22px !important ;
}
.listservice{
    margin-top: 5px;
}
.button-yes{
    display: block;
    color: green;
    padding: 5px 10px;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    margin-right: 5px;

}
.button-yes:hover{
    font-weight: bold;
    text-decoration: none;
}

.button-no{
    display: block;
    color: #BB0000;
    padding: 5px 10px;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    margin-right: 5px;

}
.button-no:hover{
    font-weight: bold;
    text-decoration: none;
}

.set{
    margin: 0px 0px;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 0px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
    font-size: 17px;
}
.font-original{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.checkbox1{
    margin-top: 12px;
}
.checkbox1{
}


.text-area{
     width: 378px;
     height: auto;
}
.text-area1{
    width: 588px;
}
.table-status{
    font-weight: bold;
    text-align: center;
background-color: #b5b5b5 ;
    color: black;
}
.table-status1{
    text-align: center;
}
.contener-table{
    margin:0;
    border:1px solid #ccc;
    padding:6px;
}

.div-for-picker {
    position: relative  !important;
}
.div-for-picker > i
{
    position: relative !important;
    top: -23px  !important;
    left: 93%  !important;
}
.button-1{
    background-color:#e95001;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 40px;
}
.button-1:hover{
    background-color:#ebab00;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 40px;
    text-decoration: none;
}
a,a:hover {
    text-decoration: none !important;
}
.manage-menu li {
    margin-left: -40px;
    margin-right: -10px;
}
.manage-menu li a {
    padding: 10px 15px;
    display: block;
    color: black;
}
.manage-menu li a:hover {
    color: black !important;
    background-color:#DCDCDC;
    text-decoration: none !important;
}
.button-mnm.nav-tabs li {
    float:none;
}
.img-logo {
    height: 40px;
    width: auto;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #ff6347;  /*change color of links in drop down here*/
}