
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: black;
    text-decoration: underline;
}

body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #001028;
    background: #FFFFFF;
    font-size: 14px;
}

header {
    padding: 10px 0;
    margin-bottom: 30px;
}

#logo {
    text-align: center;
    margin-bottom: 10px;
}

#logo img {
    width: 90px;
}

h1 {
    border-top: 1px solid  black;
    color: black;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
}
h2 {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
}

h3 {
    color: black;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 10px 0;
}

#project span {
    color: black;
    text-align: right;
    width: 30px;
    margin-right: 10px;
    display: inline-block;
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 10px;


}

#company {
    float: right;
    text-align: right;
}

#project div,
#company div {
    white-space: nowrap;
    font-size: 1.0em;

}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

table tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

table th,
table td {
    text-align: center;

    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.border-none{
    border-bottom: 0!important;
    border-top: 0!important;
}
table th {
    /*padding: 5px 20px;*/
    /*color: black;*/
    /*border-bottom: 1px solid #C1CED9;*/
    /*white-space: nowrap;*/
    /*font-weight: normal;*/

    padding: 5px 20px;
    color: black;
    white-space: nowrap;
    font-weight: normal;
    /*border-bottom: 1px solid black;*/
    /*border-left: 1px solid black;*/
    /*border-top: 1px solid black;*/
    /*border-right: 1px solid black;*/
}

table .service,
table .desc {
    text-align: left;
}

table td {
    padding: 20px;
    text-align: right;
}

table td.service,
table td.desc {
    vertical-align: top;
}
table td.desc1 {
    vertical-align: top;
    text-align: center;
    width: 15px;
}
table td.desc2 {
    vertical-align: top;
    text-align: center;
    width: 60px;
}
table td.unit,
table td.qty,
table td.total {
    font-size: 1.2em;
}

table td.grand {
    border-top: 1px solid black;;
}

#notices .notice {
    color: black;
    font-size: 1.2em;
    margin-bottom: 30px;
}

footer {
    color: black;
    width: 80%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
}
.line{
    border-bottom: 2px solid #BB0000;
    padding: 0px;
    padding-bottom:6px ;
    margin-top: -23px; margin-bottom: 15px;
    font-size: 20px;
}